<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Quoi de neuf ?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %><br/>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

<h1>La Coopérative Indigo - Le Blog</h1>

<%= link_to "Participez !", signup_path, :class => "signup_button round" %>

<% end %>